@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background: #282c34;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.slot-machine {
  position: relative;
  text-align: center;
  perspective: 1000px; /* Add perspective to enhance 3D effect */
}

h1 {
  font-weight: lighter;
  margin-bottom: 20px;
}

.money-display {
  font-size: 1.5rem;
  margin: 20px 5px;
}

.bet-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bet-amount {
  font-size: 1.2rem;
  margin: 0 20px;
}

.btn {
  background: #363636;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px 25px;
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  outline: none;
  transition: .2s;
  cursor: pointer;
}

.btn-spin {
  width: 25%;
  margin: 0 20px;
}

.btn:disabled {
  background: #2e2e2e;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-close {
  background: rgb(241, 22, 22);
  color: #fff;
  font-weight: bold;
  border-radius: 15%;
  border: 2px solid #cc5c5c;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  opacity: 0.8;
  margin: 0;
}

.slots-wrapper {
  position: relative;
}

.slots {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.slots.top,
.slots.bottom {
  margin-bottom: 0;
  width: 100%;
  left: 0;
}

.slot {
  width: 140px;
  height: 140px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  background: #444;
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), /* Add bounce effect */
              filter 1s ease-in-out; /* Add blur effect */
}

.slot img {
  width: 80%;
  height: auto;
}

.slot.spinning {
  animation: spin 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards, /* Add bounce effect */
             blur 0.5s ease-in-out; /* Add blur effect */
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(360deg) rotateY(0);
  }
  100% {
    transform: rotateX(0) rotateY(360deg);
  }
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
